@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*nav-bar-container*/

.nav-bar-container {
    position: fixed;
    width: 100%;
    background-color: #fffffffa;
    z-index: 1;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 25px;
}

.left {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    flex: 0 1 653px;
}

.right {
    display: flex;
    min-width: 225px;
    justify-content: flex-end;
}

/*main-conatiner*/

.main-container {
    justify-content: center;
    display: flex;
    padding-top: 48px;
    background-color: #f8f8f8;
    height: 350vh;
}

