@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

    
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*nav-bar-container*/

.nav-bar-container {
    position: fixed;
    width: 100%;
    background-color: #fffffffa;
    z-index: 1;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 25px;
}

.left {
    display: flex;
}

.menu-icon {
    color: #030303;
    padding-top: 2px;
}

.fa-bars {
    font-weight: 400;
}

.logo-icon {
    padding-left: 5px;
}

.fa-youtube {
    display: flex;
    color: red;
    font-size: 22px;
    padding-left: 15px;
}

.logo-text {
    color: black;
    letter-spacing: -0.04rem;
    font-size: 20px;
    padding-left: 2px;
    font-family: 'Oswald', sans-serif;
}

.center {
    display: flex;
    align-items: center;
    flex: 0 1 653px;
}

.search-box {
    display: flex;
    margin: 0 8px 0 90px;
    flex: 1;
    align-items: center;
}

.search-form {
    height: 36px;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px #eee;;
    color: #8f8787;
    font-size: 15px;
    padding: 2px 6px;
    flex: 1;
    display: flex;
}

.search-icon {
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    border-radius: 0 2px 2px 0;
    height: 36px;
    width: 55px;
}

.voice-btn-search {
    border-radius: 100px;
    background-color: #f8f8f8;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right {
    display: flex;
    min-width: 225px;
    justify-content: flex-end;
    align-items: center;
}

.right-btns {
    display: flex;
    align-items: center;
}

.right-menu-btn {
    display: flex;
}

.fa-grid {
    padding-right: 30px;
}

.fa-ellipsis-vertical {
    padding-right: 30px;
}

.right-signin > i{
    display: flex;
    border: 1px solid #065fd4;
    padding: 6px;
    align-items: center;
    color: #065fd4;
 
}

.sign-in-text {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-left: 10px;
}

/*main-conatiner*/

.main-container {
    justify-content: center;
    display: flex;
    padding-top: 48px;
    background-color: #f8f8f8;
    height: 350vh;
}

.primary {
    width: 800px;
}

.primary-inner {
    margin-top: 20px;
    width: 800px;
    height: 489px;
}

.video-player > iframe {
    width: 800px;
    height: 502px;
}

.video-title {
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #0000001a;
}

h1 {
    line-height: 2.6rem;
    font-weight: 400;
    font-size: 17px;
}

.title-footer {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.count {
    color: #606060;
    display: flex;
    font-size: 13px;
}

.count > p::after{
    content: "•";
    margin: 0 4px;
}

.footer-center {
    flex: 1;
}

.footer-right-icons {
    display: flex;
}

.icons {
    margin-right: 15px;
}

.like, .dislike, .share, .save, .more {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.icons  p {
    padding-left: 7px;
    font-size: 12px;
    color: #030303;
    font-weight: 600;
}

.meta-description {
    border-bottom: 1px solid #0000001a;;
    margin-bottom: 24px;
    padding-bottom: 16px;
}

.secondary {
    width: 402px;
    min-width: 300px;
    padding-left: 22px;
}